<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Web app</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" type="text/css"
		href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../css/main.css" />
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Web app</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="./">Home</a></li>
					<li><a onclick="alert('Working on progress');">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				Product List
			</li>
		</ol>
		<div>
			<p>We want you to implements a simple web application to show
				product information. Hence, the product have different attributes.
				As an example: Air Conditioner product is different from Slipper
				product. Slipper may have size while Air Condition does not have it.
				Also, some product may have ratings, some may not have. The
				challenge here, how we can design the API in such way when a new
				product introduce with different attributes we do not need to modify
				API design itself.</p>
		</div>
	</div>
	<div class="container">
		<div class="row" th:each="i: ${#numbers.sequence(0, (products.size() % 3) + 1)}">
			<div class="col-md-4 col-xs-12 text-center show-area" th:each="j: ${#numbers.sequence(i * 3, i * 3 + 2)}" th:if="${products.size() gt j}" th:with="product=${products.get(j)}" >
				<div class="product">
					<div class="product-title"><!-- Better show img at this div -->
						<h2 th:text="${product.name}"></h2>
					</div>
					<div class="product-body">
						<h4>Rating: <small th:text="${#strings.defaultString(product.rating,'No Rating')}" >Rating</small></h4>
						<p th:text="${#strings.defaultString(product.description,'')}">Description</p>
					</div>
					<div class="product-footer">
						<h4 ><a data-toggle="collapse" th:attr="data-target='#attr_'+${product.id }" class="btn btn-secondary">Attributes <span class="glyphicon glyphicon-collapse-down"></span></a></h4>
					</div>
					<div class="product-attr">
						<ul th:id="'attr_' + ${product.id}" class="collapse" >
							<li th:if="${#lists.isEmpty(product.attributes)}">No attributes found</li>
							<li th:each="attribute: ${product.attributes}" th:text="${attribute.name} + ' ' + ${attribute.value}"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</body>
</html>

